CozyRocketStudio/pipelines/dtc_creative_factory.json
{
  "name": "DTC Creative Factory — WaveSpeed + Supabase",
  "nodes": [
    {
      "id": "node-schedule",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [0, 300],
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 5
            }
          ]
        }
      }
    },
    {
      "id": "node-config",
      "name": "Config",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [240, 300],
      "parameters": {
        "mode": "manual",
        "assignments": {
          "assignments": [
            {
              "id": "cfg-1",
              "name": "SUPABASE_URL",
              "value": "https://YOUR_PROJECT_REF.supabase.co",
              "type": "string"
            },
            {
              "id": "cfg-2",
              "name": "SUPABASE_KEY",
              "value": "YOUR_SUPABASE_SERVICE_ROLE_KEY",
              "type": "string"
            },
            {
              "id": "cfg-3",
              "name": "WAVESPEED_KEY",
              "value": "YOUR_WAVESPEED_API_KEY",
              "type": "string"
            },
            {
              "id": "cfg-4",
              "name": "SLACK_WEBHOOK",
              "value": "https://hooks.slack.com/services/YOUR/SLACK/WEBHOOK",
              "type": "string"
            },
            {
              "id": "cfg-5",
              "name": "STORAGE_BUCKET",
              "value": "creatives",
              "type": "string"
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "node-get-products",
      "name": "Get Pending Products",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [480, 300],
      "parameters": {
        "method": "GET",
        "url": "={{ $('Config').first().json.SUPABASE_URL }}/rest/v1/products",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $('Config').first().json.SUPABASE_KEY }}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('Config').first().json.SUPABASE_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "status",
              "value": "eq.pending"
            },
            {
              "name": "select",
              "value": "*"
            },
            {
              "name": "limit",
              "value": "10"
            },
            {
              "name": "order",
              "value": "created_at.asc"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      }
    },
    {
      "id": "node-split-products-array",
      "name": "Split Products Array",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [720, 300],
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "// Supabase returns an array — split into individual items so Loop Products works correctly\nconst response = $input.first().json;\nconst products = Array.isArray(response) ? response : [];\n\nif (products.length === 0) {\n  return [];\n}\n\nreturn products.map(product => ({ json: product }));"
      }
    },
    {
      "id": "node-loop-products",
      "name": "Loop Products",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [960, 300],
      "parameters": {
        "batchSize": 1,
        "options": {}
      }
    },
    {
      "id": "node-update-generating",
      "name": "Update Status: Generating",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1200, 300],
      "parameters": {
        "method": "PATCH",
        "url": "={{ $('Config').first().json.SUPABASE_URL }}/rest/v1/products",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $('Config').first().json.SUPABASE_KEY }}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('Config').first().json.SUPABASE_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=representation"
            }
          ]
        },
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "id",
              "value": "=eq.{{ $json.id }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": []
        },
        "specifyBody": "json",
        "jsonBody": "={\"status\": \"generating\"}",
        "options": {}
      }
    },
    {
      "id": "node-build-prompts",
      "name": "Build Prompt Array",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1440, 300],
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "// Pull product data from Loop Products context\nconst product = $('Loop Products').first().json;\n\nconst negative = 'blurry, low quality, watermark, text overlay, distorted, unrealistic, deformed, disfigured';\n\nconst prompts = [\n  {\n    prompt_type: 'hero',\n    model: 'black-forest-labs/flux-1.1-pro',\n    size: '1024*1024',\n    aspect_ratio: '1:1',\n    prompt: `Professional product photography of ${product.name} on a clean white background. Studio lighting, sharp focus, high resolution, commercial quality, no shadows, centred composition.`,\n    negative_prompt: negative\n  },\n  {\n    prompt_type: 'lifestyle',\n    model: 'black-forest-labs/flux-1.1-pro',\n    size: '1024*1280',\n    aspect_ratio: '4:5',\n    prompt: `${product.name} in a natural lifestyle setting. ${product.target_audience || 'everyday'} environment, warm natural lighting, authentic feel, not staged, editorial style photography.`,\n    negative_prompt: negative\n  },\n  {\n    prompt_type: 'exploded',\n    model: 'wavespeed-ai/flux-dev',\n    size: '1024*1024',\n    aspect_ratio: '1:1',\n    prompt: `Technical exploded view of ${product.name} showing all components floating in layers against a clean white background. Each component clearly separated, professional product visualization.`,\n    negative_prompt: negative\n  },\n  {\n    prompt_type: 'ingredient',\n    model: 'google/imagen-3',\n    size: '1024*1024',\n    aspect_ratio: '1:1',\n    prompt: `Close up product shot of ${product.name} surrounded by its key ingredients: ${product.key_ingredients || 'natural ingredients'}. Flat lay composition, natural lighting, premium feel, white marble background.`,\n    negative_prompt: negative\n  },\n  {\n    prompt_type: 'before_after',\n    model: 'black-forest-labs/flux-1.1-pro',\n    size: '1792*1024',\n    aspect_ratio: '16:9',\n    prompt: `Split composition showing before and after using ${product.name}. Left side shows the problem, right side shows the transformation. Clean minimal design, professional photography style, clear dividing line.`,\n    negative_prompt: negative\n  },\n  {\n    prompt_type: 'seasonal',\n    model: 'google/imagen-3-fast',\n    size: '1024*1280',\n    aspect_ratio: '4:5',\n    prompt: `${product.name} styled for a seasonal summer campaign. Natural props and setting, vibrant on-brand colours, lifestyle feel, golden hour lighting.`,\n    negative_prompt: negative\n  },\n  {\n    prompt_type: 'dark_variant',\n    model: 'black-forest-labs/flux-1.1-pro',\n    size: '1024*1024',\n    aspect_ratio: '1:1',\n    prompt: `${product.name} on a deep black background. Dramatic studio lighting, premium luxury feel, sharp focus, high contrast, commercial photography, subtle rim lighting.`,\n    negative_prompt: negative\n  }\n];\n\nreturn prompts.map(p => ({\n  json: {\n    ...p,\n    product_id: product.id,\n    product_name: product.name\n  }\n}));"
      }
    },
    {
      "id": "node-loop-prompts",
      "name": "Loop Prompts",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [1680, 300],
      "parameters": {
        "batchSize": 1,
        "options": {}
      }
    },
    {
      "id": "node-build-request",
      "name": "Build WaveSpeed Request",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1920, 300],
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const item = $input.item.json;\n\nreturn {\n  json: {\n    wavespeed_endpoint: `https://api.wavespeed.ai/api/v2/${item.model}`,\n    wavespeed_body: {\n      prompt: item.prompt,\n      negative_prompt: item.negative_prompt,\n      size: item.size,\n      num_images: 3,\n      enable_safety_checker: true\n    },\n    prompt_type: item.prompt_type,\n    product_id: item.product_id,\n    product_name: item.product_name,\n    model: item.model,\n    aspect_ratio: item.aspect_ratio,\n    prompt_text: item.prompt\n  }\n};"
      }
    },
    {
      "id": "node-call-wavespeed",
      "name": "Call WaveSpeed API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2160, 300],
      "onError": "continueErrorOutput",
      "parameters": {
        "method": "POST",
        "url": "={{ $json.wavespeed_endpoint }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('Config').first().json.WAVESPEED_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.wavespeed_body) }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      }
    },
    {
      "id": "node-store-task-context",
      "name": "Store Task Context",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [2400, 180],
      "parameters": {
        "mode": "manual",
        "assignments": {
          "assignments": [
            {
              "id": "ctx-1",
              "name": "task_id",
              "value": "={{ $json.data.id }}",
              "type": "string"
            },
            {
              "id": "ctx-2",
              "name": "prompt_type",
              "value": "={{ $('Build WaveSpeed Request').item.json.prompt_type }}",
              "type": "string"
            },
            {
              "id": "ctx-3",
              "name": "product_id",
              "value": "={{ $('Build WaveSpeed Request').item.json.product_id }}",
              "type": "string"
            },
            {
              "id": "ctx-4",
              "name": "product_name",
              "value": "={{ $('Build WaveSpeed Request').item.json.product_name }}",
              "type": "string"
            },
            {
              "id": "ctx-5",
              "name": "model",
              "value": "={{ $('Build WaveSpeed Request').item.json.model }}",
              "type": "string"
            },
            {
              "id": "ctx-6",
              "name": "prompt_text",
              "value": "={{ $('Build WaveSpeed Request').item.json.prompt_text }}",
              "type": "string"
            },
            {
              "id": "ctx-7",
              "name": "aspect_ratio",
              "value": "={{ $('Build WaveSpeed Request').item.json.aspect_ratio }}",
              "type": "string"
            },
            {
              "id": "ctx-8",
              "name": "poll_count",
              "value": 0,
              "type": "number"
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "node-wait-initial",
      "name": "Wait 45s",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [2640, 180],
      "parameters": {
        "amount": 45,
        "unit": "seconds"
      },
      "webhookId": "wait-initial-webhook"
    },
    {
      "id": "node-poll-wavespeed",
      "name": "Poll WaveSpeed",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2880, 180],
      "parameters": {
        "method": "GET",
        "url": "=https://api.wavespeed.ai/api/v2/outputs/{{ $json.task_id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('Config').first().json.WAVESPEED_KEY }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      }
    },
    {
      "id": "node-is-complete",
      "name": "Generation Complete?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [3120, 180],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "cond-complete",
              "leftValue": "={{ $json.data.status }}",
              "rightValue": "completed",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        }
      }
    },
    {
      "id": "node-check-retries",
      "name": "Max Retries Reached?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [3120, 400],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "cond-retry",
              "leftValue": "={{ $('Store Task Context').item.json.poll_count }}",
              "rightValue": 5,
              "operator": {
                "type": "number",
                "operation": "gte"
              }
            }
          ],
          "combinator": "and"
        }
      }
    },
    {
      "id": "node-wait-retry",
      "name": "Wait 30s Retry",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [3360, 520],
      "parameters": {
        "amount": 30,
        "unit": "seconds"
      },
      "webhookId": "wait-retry-webhook"
    },
    {
      "id": "node-extract-urls",
      "name": "Extract Image URLs",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [3360, 100],
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "// WaveSpeed returns outputs array with image URLs\nconst pollResponse = $input.first().json;\nconst taskCtx = $('Store Task Context').first().json;\n\nconst imageUrls = pollResponse.data?.outputs || [];\n\nif (imageUrls.length === 0) {\n  throw new Error('WaveSpeed returned no image URLs');\n}\n\n// Create one record per image URL (up to 3 variations)\nreturn imageUrls.slice(0, 3).map((url, index) => ({\n  json: {\n    image_url: url,\n    variation_index: index,\n    prompt_type: taskCtx.prompt_type,\n    product_id: taskCtx.product_id,\n    product_name: taskCtx.product_name,\n    model_used: taskCtx.model,\n    prompt_text: taskCtx.prompt_text,\n    aspect_ratio: taskCtx.aspect_ratio,\n    status: 'pending_review'\n  }\n}));"
      }
    },
    {
      "id": "node-insert-creative-success",
      "name": "Insert Creative: Success",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [3600, 100],
      "parameters": {
        "method": "POST",
        "url": "={{ $('Config').first().json.SUPABASE_URL }}/rest/v1/creatives",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $('Config').first().json.SUPABASE_KEY }}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('Config').first().json.SUPABASE_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=representation"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ product_id: $json.product_id, prompt_type: $json.prompt_type, model_used: $json.model_used, prompt_text: $json.prompt_text, image_url: $json.image_url, aspect_ratio: $json.aspect_ratio, variation_index: $json.variation_index, status: 'pending_review', generated_at: new Date().toISOString() }) }}",
        "options": {}
      }
    },
    {
      "id": "node-insert-creative-error",
      "name": "Insert Creative: Error",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [3360, 400],
      "parameters": {
        "method": "POST",
        "url": "={{ $('Config').first().json.SUPABASE_URL }}/rest/v1/creatives",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $('Config').first().json.SUPABASE_KEY }}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('Config').first().json.SUPABASE_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=representation"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ product_id: $('Store Task Context').first().json.product_id, prompt_type: $('Store Task Context').first().json.prompt_type, model_used: $('Store Task Context').first().json.model, status: 'error', error_message: $json.error?.message || 'Generation failed or timed out', generated_at: new Date().toISOString() }) }}",
        "options": {}
      }
    },
    {
      "id": "node-merge-creative-paths",
      "name": "Merge Creative Paths",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [3840, 260],
      "parameters": {
        "mode": "append",
        "options": {}
      }
    },
    {
      "id": "node-update-done",
      "name": "Update Status: Done",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1920, 540],
      "parameters": {
        "method": "PATCH",
        "url": "={{ $('Config').first().json.SUPABASE_URL }}/rest/v1/products",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $('Config').first().json.SUPABASE_KEY }}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('Config').first().json.SUPABASE_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=representation"
            }
          ]
        },
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "id",
              "value": "=eq.{{ $('Loop Products').first().json.id }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"status\": \"done\"}",
        "options": {}
      }
    },
    {
      "id": "node-notify-slack",
      "name": "Notify Slack",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2160, 540],
      "parameters": {
        "method": "POST",
        "url": "={{ $('Config').first().json.SLACK_WEBHOOK }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ text: `✅ *Creative batch complete*\\n*Product:* ${$('Loop Products').first().json.name}\\n*Product ID:* ${$('Loop Products').first().json.id}\\nCreatives are ready in Supabase for review. Approve or reject in the \\'pending_review\\' queue.` }) }}",
        "options": {}
      }
    },
    {
      "id": "node-all-done",
      "name": "All Products Processed",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [1200, 540],
      "parameters": {}
    },
    {
      "id": "node-wavespeed-api-error",
      "name": "Handle API Error",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [2400, 420],
      "parameters": {
        "mode": "manual",
        "assignments": {
          "assignments": [
            {
              "id": "err-1",
              "name": "error_message",
              "value": "={{ $json.error?.message || 'WaveSpeed API call failed' }}",
              "type": "string"
            },
            {
              "id": "err-2",
              "name": "product_id",
              "value": "={{ $('Build WaveSpeed Request').item.json.product_id }}",
              "type": "string"
            },
            {
              "id": "err-3",
              "name": "prompt_type",
              "value": "={{ $('Build WaveSpeed Request').item.json.prompt_type }}",
              "type": "string"
            },
            {
              "id": "err-4",
              "name": "model",
              "value": "={{ $('Build WaveSpeed Request').item.json.model }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      }
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Config": {
      "main": [
        [
          {
            "node": "Get Pending Products",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Pending Products": {
      "main": [
        [
          {
            "node": "Split Products Array",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Products Array": {
      "main": [
        [
          {
            "node": "Loop Products",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Products": {
      "main": [
        [
          {
            "node": "Update Status: Generating",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "All Products Processed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Status: Generating": {
      "main": [
        [
          {
            "node": "Build Prompt Array",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Prompt Array": {
      "main": [
        [
          {
            "node": "Loop Prompts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Prompts": {
      "main": [
        [
          {
            "node": "Build WaveSpeed Request",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Update Status: Done",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build WaveSpeed Request": {
      "main": [
        [
          {
            "node": "Call WaveSpeed API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call WaveSpeed API": {
      "main": [
        [
          {
            "node": "Store Task Context",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Handle API Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Store Task Context": {
      "main": [
        [
          {
            "node": "Wait 45s",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait 45s": {
      "main": [
        [
          {
            "node": "Poll WaveSpeed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Poll WaveSpeed": {
      "main": [
        [
          {
            "node": "Generation Complete?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generation Complete?": {
      "main": [
        [
          {
            "node": "Extract Image URLs",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Max Retries Reached?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Max Retries Reached?": {
      "main": [
        [
          {
            "node": "Insert Creative: Error",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait 30s Retry",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait 30s Retry": {
      "main": [
        [
          {
            "node": "Poll WaveSpeed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Image URLs": {
      "main": [
        [
          {
            "node": "Insert Creative: Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert Creative: Success": {
      "main": [
        [
          {
            "node": "Merge Creative Paths",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert Creative: Error": {
      "main": [
        [
          {
            "node": "Merge Creative Paths",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Handle API Error": {
      "main": [
        [
          {
            "node": "Insert Creative: Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Creative Paths": {
      "main": [
        [
          {
            "node": "Loop Prompts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Status: Done": {
      "main": [
        [
          {
            "node": "Notify Slack",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notify Slack": {
      "main": [
        [
          {
            "node": "Loop Products",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": ""
  },
  "staticData": null,
  "tags": [
    {
      "name": "DTC Creative Factory"
    }
  ],
  "triggerCount": 0,
  "versionId": "1"
}
