CozyRocketStudio/pipelines/wavespeed_batch_pipeline.json
{
  "name": "Wavespeed Batch Image Pipeline v2",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [-1200, 0],
      "id": "1a2b3c4d-0001-0001-0001-000000000001",
      "name": "Manual Trigger"
    },
    {
      "parameters": {
        "jsCode": "// ─── CONFIGURE YOUR PROMPTS AND SETTINGS HERE ───────────────────────────────\nconst WAVESPEED_API_KEY = 'YOUR_WAVESPEED_API_KEY_HERE';\nconst MODEL             = 'bytedance/seedream-v4';\nconst IMAGE_SIZE        = '1024*1024';\nconst GDRIVE_FOLDER_ID  = '1Czg44HSJiJxPB9tJxDS6-6NOCJXqjiuS';\n\nconst prompts = [\n  'American retro style: a woman wearing a polka-dot dress with sunglasses adorning her head',\n  'Cyberpunk cityscape at night with neon lights reflecting on rain-soaked streets',\n  'Minimalist Japanese garden with cherry blossoms and a stone pathway'\n];\n// ─────────────────────────────────────────────────────────────────────────────\n\n// Returns one item per prompt — each flows through the pipeline independently\nreturn prompts.map(prompt => ({\n  json: { prompt, WAVESPEED_API_KEY, MODEL, IMAGE_SIZE, GDRIVE_FOLDER_ID }\n}));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-1000, 0],
      "id": "1a2b3c4d-0002-0002-0002-000000000002",
      "name": "Define Prompts"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.wavespeed.ai/api/v3/{{ $json.MODEL }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $json.WAVESPEED_API_KEY }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "enable_base64_output",
              "value": "false"
            },
            {
              "name": "enable_sync_mode",
              "value": "false"
            },
            {
              "name": "prompt",
              "value": "={{ $json.prompts }}"
            },
            {
              "name": "size",
              "value": "={{ $json.IMAGE_SIZE }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [-600, 0],
      "id": "1a2b3c4d-0004-0004-0004-000000000004",
      "name": "Submit Image Job"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ctx-001",
              "name": "request_id",
              "value": "={{ $json.data.id }}",
              "type": "string"
            },
            {
              "id": "ctx-002",
              "name": "poll_url",
              "value": "={{ $json.data.urls.get }}",
              "type": "string"
            },
            {
              "id": "ctx-003",
              "name": "prompt",
              "value": "={{ $('Define Prompts').item.json.prompt }}",
              "type": "string"
            },
            {
              "id": "ctx-004",
              "name": "model",
              "value": "={{ $('Define Prompts').item.json.MODEL }}",
              "type": "string"
            },
            {
              "id": "ctx-005",
              "name": "image_size",
              "value": "={{ $('Define Prompts').item.json.IMAGE_SIZE }}",
              "type": "string"
            },
            {
              "id": "ctx-006",
              "name": "submitted_at",
              "value": "={{ new Date().toISOString() }}",
              "type": "string"
            },
            {
              "id": "ctx-007",
              "name": "gdrive_folder_id",
              "value": "={{ $('Define Prompts').item.json.GDRIVE_FOLDER_ID }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [-400, 0],
      "id": "1a2b3c4d-0005-0005-0005-000000000005",
      "name": "Store Job Context"
    },
    {
      "parameters": {
        "amount": 15
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [-200, 0],
      "id": "1a2b3c4d-0006-0006-0006-000000000006",
      "name": "Initial Wait",
      "webhookId": "aaaaaaaa-aaaa-aaaa-aaaa-aaaaaaaaaaaa"
    },
    {
      "parameters": {
        "url": "={{ $('Store Job Context').item.json.poll_url }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('Define Prompts').item.json.WAVESPEED_API_KEY }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [0, 0],
      "id": "1a2b3c4d-0007-0007-0007-000000000007",
      "name": "Poll Job Status",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "cond-001",
              "leftValue": "={{ $json.data.status }}",
              "rightValue": "completed",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [200, 0],
      "id": "1a2b3c4d-0008-0008-0008-000000000008",
      "name": "Job Complete?"
    },
    {
      "parameters": {
        "jsCode": "// Pull context saved before polling loop started\nconst ctx = $('Store Job Context').item.json;\nconst pollResponse = $input.item.json;\n\nconst imageUrl = pollResponse.data.outputs[0];\nconst completedAt = new Date().toISOString();\n\n// Build timestamp: 2025-01-15_14-30-00\nconst timestamp = completedAt\n  .replace('T', '_')\n  .replace(/:/g, '-')\n  .slice(0, 19);\n\n// Sanitize prompt for use in filename: max 40 chars, snake_case\nconst sanitizedPrompt = ctx.prompt\n  .toLowerCase()\n  .replace(/[^a-z0-9\\s]/g, '')\n  .trim()\n  .replace(/\\s+/g, '_')\n  .replace(/_{2,}/g, '_')\n  .slice(0, 40)\n  .replace(/_+$/, '');\n\n// e.g. seedream-v4\nconst modelSlug = ctx.model.split('/').pop();\n\n// Final file base name\nconst baseName = `${sanitizedPrompt}_${timestamp}_${modelSlug}`;\n\nreturn [{\n  json: {\n    base_name: baseName,\n    image_file_name: `${baseName}.png`,\n    metadata_file_name: `${baseName}_metadata.json`,\n    prompt: ctx.prompt,\n    model: ctx.model,\n    model_slug: modelSlug,\n    image_size: ctx.image_size,\n    request_id: ctx.request_id,\n    submitted_at: ctx.submitted_at,\n    completed_at: completedAt,\n    image_url: imageUrl,\n    gdrive_folder_id: ctx.gdrive_folder_id\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [420, -180],
      "id": "1a2b3c4d-0009-0009-0009-000000000009",
      "name": "Generate File Name"
    },
    {
      "parameters": {
        "url": "={{ $json.image_url }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file",
              "outputPropertyName": "data"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [640, -180],
      "id": "1a2b3c4d-0010-0010-0010-000000000010",
      "name": "Download Image"
    },
    {
      "parameters": {
        "operation": "upload",
        "name": "={{ $('Generate File Name').item.json.image_file_name }}",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "={{ $('Generate File Name').item.json.gdrive_folder_id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [860, -180],
      "id": "1a2b3c4d-0011-0011-0011-000000000011",
      "name": "Upload Image",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "KM9OwALPjFdCsIhN",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Build the metadata record and convert to a binary JSON file for upload\nconst fileMeta = $('Generate File Name').item.json;\nconst driveResponse = $input.item.json;\n\nconst metadata = {\n  request_id: fileMeta.request_id,\n  prompt: fileMeta.prompt,\n  model: fileMeta.model,\n  image_size: fileMeta.image_size,\n  submitted_at: fileMeta.submitted_at,\n  completed_at: fileMeta.completed_at,\n  image_file_name: fileMeta.image_file_name,\n  google_drive_file_id: driveResponse.id || '',\n  google_drive_web_link: driveResponse.webViewLink || '',\n  pipeline_version: '2.0'\n};\n\nconst metadataString = JSON.stringify(metadata, null, 2);\n\nconst binaryData = await this.helpers.prepareBinaryData(\n  Buffer.from(metadataString, 'utf-8'),\n  fileMeta.metadata_file_name,\n  'application/json'\n);\n\nreturn [{\n  json: {\n    ...fileMeta,\n    metadata_json: metadataString,\n    google_drive_file_id: driveResponse.id || '',\n    google_drive_web_link: driveResponse.webViewLink || ''\n  },\n  binary: {\n    data: binaryData\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1080, -180],
      "id": "1a2b3c4d-0012-0012-0012-000000000012",
      "name": "Prepare Metadata"
    },
    {
      "parameters": {
        "operation": "upload",
        "name": "={{ $json.metadata_file_name }}",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "={{ $json.gdrive_folder_id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [1300, -180],
      "id": "1a2b3c4d-0013-0013-0013-000000000013",
      "name": "Upload Metadata",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "KM9OwALPjFdCsIhN",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "amount": 10
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [420, 180],
      "id": "1a2b3c4d-0014-0014-0014-000000000014",
      "name": "Retry Wait",
      "webhookId": "bbbbbbbb-bbbb-bbbb-bbbb-bbbbbbbbbbbb"
    }
  ],
  "pinData": {},
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Define Prompts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Define Prompts": {
      "main": [
        [
          {
            "node": "Submit Image Job",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Submit Image Job": {
      "main": [
        [
          {
            "node": "Store Job Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Store Job Context": {
      "main": [
        [
          {
            "node": "Initial Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Initial Wait": {
      "main": [
        [
          {
            "node": "Poll Job Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Poll Job Status": {
      "main": [
        [
          {
            "node": "Job Complete?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Job Complete?": {
      "main": [
        [
          {
            "node": "Generate File Name",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Retry Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate File Name": {
      "main": [
        [
          {
            "node": "Download Image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Image": {
      "main": [
        [
          {
            "node": "Upload Image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload Image": {
      "main": [
        [
          {
            "node": "Prepare Metadata",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Metadata": {
      "main": [
        [
          {
            "node": "Upload Metadata",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload Metadata": {
      "main": [
        []
      ]
    },
    "Retry Wait": {
      "main": [
        [
          {
            "node": "Poll Job Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "a1b2c3d4-e5f6-7890-abcd-ef1234567890",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "0a9c9998254bfbb664605280862f22addf7002a3929722f3a25c46df75dda987"
  },
  "id": "WavespeedBatchV2",
  "tags": []
}
